{% load widget_tweaks %}

{% for field in form %}
<div class="field">
    {# Field label and input #}
    <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    <div class="control" onclick="changeBackgrounds({{ field.id_for_label }})">
        {% render_field field class+="input" %}
    </div>

    {# Field normal help text #}
    {% if field.help_text%}
    <p class="help">
        {{ field.help_text|safe }}
    </p>
    {% endif %}

    {# Field error help text #}
    {% if field.errors %}
    {% for error in field.errors %}
    <p class="help is-danger">
        {{ error }}
    </p>
    {% endfor %}
    {% endif %}

</div>
{% endfor %}

<script>
    window.onload = initializePage()

    function initializePage() {
        var fields = document.querySelectorAll('*[id^="id_price"]');
        var i
        var colors = defineColors()
        var green = colors[0]
        var yellow = colors[1]
        var red = colors [2]

        for (i = 0; i < fields.length; i++) {
            if (fields[i].value == 1) {
                fields[i].style.backgroundColor = green
            }
            if (fields[i].value == 2) {
                fields[i].style.backgroundColor = yellow
            }
            if (fields[i].value == 3) {
                fields[i].style.backgroundColor = red
            }
        }

        computeAccessiblePrice()
    }

    function defineColors() {
        var green = "#9aff8c"
        var yellow = "#ffff9c"
        var red = "#ff9999"
        return [green, yellow, red]
    }

    function changeBackgrounds(field) {
        var fields = document.querySelectorAll('*[id^="id_price"]');
        var latestChangeIndex = field.id.substring(8)
        var i
        var colors = defineColors()
        var green = colors[0]
        var yellow = colors[1]
        var red = colors [2]

        // set green
        if (field.value == 1) {
            for (i = 0; i <= latestChangeIndex; i++) {
                fields[i].value = 1
                fields[i].style.backgroundColor = green
            }
        }


        // set yellow
        if (field.value == 2) {
            field.style.backgroundColor = yellow

            // fill yellow to highest green
            if (fields[fields.length - 1].value == 3) {
                for (i = latestChangeIndex; ; i++) {
                    if (fields[i].value == 3) {
                        break
                    } else {
                        fields[i].value = 2
                        fields[i].style.backgroundColor = yellow
                        if (i == fields.length) {
                            break
                        }
                    }
                }
            }

            // fill yellow to lowest red
            if (fields[0].value == 1) {
                for (i = latestChangeIndex; ; i--) {
                    if (fields[i].value == 1) {
                        break
                    } else {
                        fields[i].value = 2
                        fields[i].style.backgroundColor = yellow
                        if (i == 0) {
                            break
                        }
                    }
                }
            }

            // replace any red at a lower value than the latest change with yellow
            for (i = 0; i < latestChangeIndex; i++) {
                if (fields[i].value == 3) {
                    fields[i].value = 2
                    fields[i].style.backgroundColor = yellow
                }
            }

            // replace any green at a higher value than the latest yellow with red
            for (i = latestChangeIndex; i < fields.length; i++) {
                if (fields[i].value == 1) {
                    fields[i].value = 2
                    fields[i].style.backgroundColor = yellow
                }
            }

            // fill yellow from min yellow to max yellow (in case two separated yellows are selected prior to any other color)
            var minYellowIndex = -1
            var maxYellowIndex = -1
            for (i = 0; i < (fields.length - 1); i++) {
                if (fields[i].value == 2) {
                    if (minYellowIndex == -1) {
                        minYellowIndex = i
                    }
                    if (minYellowIndex != -1) {
                        maxYellowIndex = i - 1
                    }
                }
            }
            if (minYellowIndex != maxYellowIndex) {
                for (i = minYellowIndex; i <= maxYellowIndex; i++) {
                    fields[i].value = 2
                    fields[i].style.backgroundColor = yellow
                }
            }
        }


        // set red
        if (field.value == 3) {
            for (i = latestChangeIndex; i < fields.length; i++) {
                fields[i].value = 3
                fields[i].style.backgroundColor = red
            }
        }

        // fill between green and red with yellow
        var greenExists = 0
        var redExists = 0
        for (i = 0; i < fields.length; i++) {
            if (fields[i].value == 1) {
                greenExists = 1
            }

            if (fields[i].value == 3) {
                redExists = 1
            }
        }

        if (greenExists && redExists) {
            for (i = 0; i < fields.length; i++) {
                if (fields[i].value != 1 && fields[i].value != 3) {
                    fields[i].value = 2
                    fields[i].style.backgroundColor = yellow
                }
            }
        }

        computeAccessiblePrice()
    }

    function labelFields() {
        // get all labels and assign them to their fields
        var labels = document.getElementsByTagName('LABEL');
        for (var i = 0; i < labels.length; i++) {
            if (labels[i].htmlFor != '') {
                var elem = document.getElementById(labels[i].htmlFor);
                if (elem) {
                    elem.label = labels[i];
                }
            }
        }
    }

    function computeAccessiblePrice() {
        labelFields()
        var fields = document.querySelectorAll('*[id^="id_price"]');

        document.getElementById("id_accessible_price").value = 0
        document.getElementById("id_accessible_price_display").value = ""
        document.getElementById("id_stretch_price").value = 0
        for (i = 0; i < fields.length; i++) {
            if (fields[i].value < 1) {
                document.getElementById("id_accessible_price").value = 0
                document.getElementById("id_accessible_price_display").value = ""
                document.getElementById("id_stretch_price").value = 0
                return
            }
            if (fields[i].value == 1) {
                document.getElementById("id_accessible_price").value = fields[i].label.innerHTML.substring(1)
                document.getElementById("id_accessible_price_display").value = fields[i].label.innerHTML
                document.getElementById("id_stretch_price").value = fields[i].label.innerHTML.substring(1)
            }
            if (fields[i].value == 2) {
                document.getElementById("id_stretch_price").value = fields[i].label.innerHTML.substring(1)
            }
        }

        // handles edge case where all fields are red
        if (fields[0].value == 3) {
            // this needs original price and apEligiblePrice from the view before it will work.
            // document.getElementById("id_accessible_price").value = originalPrice - apEligibileValue
            // document.getElementById("id_accessible_price_display").value = originalPrice - apEligibileValue
            // document.getElementById("id_stretch_price").value = originalPrice - apEligibileValue
        }
    }
</script>