{% load special_sauce %}
    <thead>
    <tr class="is-selected is-size-4">
        <th>Items</th>
        <th></th>
        <th></th>
        <th>{% include "utils/button.html" with button=view.back_to_selection %}</th>
    </tr>
    <tr>
        <th>Category</th>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>
    <tfoot>
    <tr class="is-selected is-size-4">
        <th>Summary</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
{% if order.original_price > order.accessible_price %}
    <tr>
        <th>Accessible Total</th>
        <th></th>
        <th></th>
        <th>{{order.accessible_price|dollars}}</th>
    </tr>
    <tr class="is-size-4">
        <th>Due Now</th>
        <th></th>
        <th></th>
        <th>{{view.amount_due|dollars}}</th>
    </tr>
{% else %}
    <tr>
        <th>Subtotal</th>
        <th></th>
        <th></th>
        <th>{{order.original_price|dollars}}</th>
    </tr>
    <tr>
        <th>Donation</th>
        <th></th>
        <th></th>
        <th>{{order.donation|dollars}}</th>
    </tr>
    <tr>
        <th>Total</th>
        <th></th>
        <th></th>
        <th>{{order.donation|add:order.original_price|dollars}}</th>
    </tr>
    <tr class="is-size-4">
        <th>Due Now</th>
        <th></th>
        <th></th>
        <th>{{view.amount_due|dollars}}</th>
    </tr>
{% endif %}
    </tfoot>
    <tbody>
{% for item in items %}
    <tr>
        <td>{{item.product.category.get_section_display}}</td>
        <td><strong>{{item.product.title}}</strong></td>
    {% if item.order.is_accessible_pricing and item.product.is_ap_eligible %}
        <td>{{item.quantity}}</td>
    {% else %}
        <td><div class="quantity-selector" data-product="{{item.product.id}}">
            <select class="quantity-input" data-quantity="{{ item.quantity }}">
                {% for i in item.quantity_range %}
                <option value="{{ i }}" {% if i == item.quantity %}selected="selected"{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
            <div class="loader"></div>
        </div></td>
    {% endif %}
    {% if item.unit_price == 0 %}
        <td>Comped</td>
    {% elif order.original_price > order.accessible_price and item.product.is_ap_eligible %}
        <td>Adjusted</td>
    {% else %}
        <td>{{item.total_price|dollars}}</td>
    {% endif %}
    </tr>
{% endfor %}
    </tbody>
