[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
requests = "*"

[packages]
django = {extras = ["argon2"],version = "*"}
psycopg2-binary = "*"
pillow = "*"
django-widget-tweaks = "*"
stripe = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
