{% extends "registration/base.html" %}

{% block card_content %}

<p class="title">
    View Account
</p>

<form>
    {% csrf_token %}

    {% include "registration/form_input.html" %}

</form>

<div class="control">
    <a href="{% url 'index' %}"><button class="button is-link">Back</button></a>
    <a href="{% url 'edit_user' %}"><button class="button is-link">Edit</button></a>
    <a href="{% url 'password_change' %}"><button class="button is-link">Change Password</button></a>
</div>

{% endblock %}
