{% extends "registration/base.html" %}

{% block card_content %}

<p class="title">
    Create Account
</p>

{# TODO: Loop over non-field errors and display them as notifications? #}
{# TODO: Figure out how to make the password hints not get injected... this is some voodoo #}

<form method="post">
    {% csrf_token %}
    {% include "registration/form_input.html" %}
    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-link">Submit</button>
        </div>
    </div>
</form>
{% endblock %}