{% extends "registration/base.html" %}

{% block card_content %}

<p>Hi, {{ view.request.user.first_name }}!</p>
<p>We look forward to dancing with you at this year's HiFi Fusion!</p>
{% include "utils/form_fields.html" %}

<div class="buttons">
    {% include "utils/button.html" with button=view.register_button %}
    {% include "utils/button.html" with button=view.account_button %}
    {% include "utils/button.html" with button=view.invoices_button %}

</div>


{% endblock %}


<!-- <a class="navbar-item" href="{% url 'view_user'%}">
    Profile
</a> -->

<!-- <a class="navbar-item" href="{% url 'orders' %}">
    Orders
</a> -->