{% extends "registration/base.html" %}

{% block countdown %}
{% include 'registration/countdown_widget.html' %}
{% endblock %}

{% block card_content %}

<p class="title">
    Payment
</p>

{% include "utils/order_table.html" with order=view.order items=view.items %}

<form method="post">
    {% csrf_token %}

    {% include "utils/form_fields.html" %}

    <div class="control">
        <button type="submit" name='previous' class="button is-link">Previous</button>
        <button id="checkoutButton" type="submit" name='submit' class="button is-link">Checkout</button>
    </div>

</form>

{% load static %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'scripts/checkout.js' %}"></script>
{% endblock %}