{% load special_sauce %}
<div class="column">
<div class="">
  <div data-product="{{product.id}}" data-slots="{{product.slots}}" data-max="{{product.max_quantity}}"
       class="box product-card {{product.slotClasses}} {{product.conflictClasses}}
       {{product.status|eq:'max_purchased'|yesno:'max-purchased,'}}
       {% if product.quantity_claimed == 0 %}minimum{% endif %}
       {% if product.quantity_claimed > 0 %}claimed{% endif %}
       {% if product.quantity_claimed == product.max_quantity %}maximum
       {% elif product.status == 'unavailable' %}unavailable{% endif %}">
    <div class="error is-red is-danger is-$red">
    </div>
    {% if product.max_quantity == 1 %}
      <div class="loader"></div>
      <input class="check-{{product.id}} product-checkbox" type="checkbox" {% if product.status == 'max_purchased' or product.quantity_claimed > 0 %}checked{% endif %}>
    {% else %}
    <p>{{product.quantity_purchased}} already purchased.</p>
    <div class="quantity-selector">
      <button class="button is-rounded product-decrement">-</button>
      <p class="quantity-claimed">{{product.quantity_claimed}}</p>
      <button class="button is-rounded product-increment">+</button>
      <div class="loader"></div>
    </div>
    {% endif %}
    {% if product.has_parts %}
      <p>{{product.part}} of {{product.total_parts}}</p>
    {% endif %}
    <p>{{product.title}}</p>
    <p>{{product.subtitle}}</p>
    <details>
      <p>{{product.description}}</p>
    </details>
    <p>{{product.price}}</p>
  </div>
</div>
</div>