{% extends "registration/base.html" %}
{% load special_sauce %}

{% block countdown %}
{% include 'registration/countdown_widget.html' %}
{% endblock %}

{% block card_content %}

<p class="title">
    Subtotal
</p>

<p>Your order total is {{ view.order.original_price|dollars }}</p>
<br>

<form method="post">
    {% csrf_token %}

    <div class="buttons is-grouped">
        {% if view.ap_available %}
        {% include "utils/button.html" with button=view.ap_yes_button content="I would like to apply for AP" %}
        {% else %}
        {% include "utils/button.html" with button=view.ap_yes_button attrs="disabled" content="AP Pricing Currently Unavailable 😢" %}
        {% endif %}
        {% include "utils/button.html" with button=view.ap_no_button content="I don't need AP"%}
    </div>

    <div class="buttons is-grouped">
        {% include "utils/button.html" with button=view.previous_button %}
    </div>

</form>
{% endblock %}
