{% extends "registration/base.html" %}

{% block card_content %}

<p class="title">
    T.H.E.N.A.
</p>
<p class="subtitle">
The Human Economic Negotiating Adjuster
</p>

<form method="post">
    {% csrf_token %}
    
    <div class="notification is-primary is-light has text-centered content">
        <p class="title is-5">Welcome to your accessible price finder!</>
        <ul>
            <li>Below is the proposed discounted price for your order.</li>
            <li>Please use the arrows to adjust to your personal comfort level.</li>
            <li>The least you may pay is $<span id="min_price"></span>.</li>
            <li>If you need to start over, just refresh the page.</li>
        </ul>
    </div>

    <div class="level is-mobile notification">
        <p class="has-text-left" onclick=PriceDecrease() style="cursor: pointer;">
            <i class="fa fa-caret-left fa-4x" style="color: #00C5C5;" aria-hidden="true"></i><br>
            Less<br>
            <strong>(Min <span id="search_less">$</span>)</strong>
        </p>

        <p id="test_price" class="is-size-3">$0</p>

        <p class="has-text-right" onclick=PriceIncrease() style="cursor: pointer;">
            <i class="fa fa-caret-right fa-4x" style="color: #00C5C5;" aria-hidden="true"></i><br>
            More<br>
            <strong>(Max <span id="search_more">$</span>)</strong>
        </p>
    </div>

    <input type="hidden" id="price_submit" name="price_submit" value="0">

    {% include "utils/button.html" with button=view.previous_button %}
    <button type="submit" class="button is-primary is-pulled-right" name="ready_to_pay" id="ready_to_pay">Next</button>
</form>

<script>
    "use strict";

    /* Constraints/Constants */
    const max_price = {{ view.order.original_price }} / 100;
    const ap_eligible_amount = {{ view.order.ap_eligible_amount }} / 100;
    {% comment %} const max_price = 243;
    const ap_eligible_amount = 237; {% endcomment %}
    const min_price = max_price - ap_eligible_amount;
    
    /* Customization */
    const initial_price_fraction = 0.5; // fraction of AP eligible amount to start at
    const break_points = [[40, 5], [80, 10], [Number.POSITIVE_INFINITY, 20]];

    /* Get DOM elements */
    var price_element = document.getElementById("test_price");
    var less_element = document.getElementById("search_less");
    var more_element = document.getElementById("search_more");
    var pay_element = document.getElementById("ready_to_pay");
    var price_submit_element = document.getElementById("price_submit");

    /* Algo Variables */
    const price_list = MakePriceList();
    var search_index = price_list.findIndex(function(number) {
        return number >= (min_price + max_price) * initial_price_fraction;
    });

    /* Initialize DOM elements */
    window.onload = function() {
        document.getElementById("min_price").textContent = min_price;
        less_element.textContent = "$" + min_price;
        more_element.textContent = "$" + max_price;
        price_submit_element.setAttribute("value", "" + price_list[search_index] * 100);
        AnimatePrice();
    };

    /* Button callbacks */
    function PriceDecrease() {
        search_index = Math.max(0, search_index - 1);
        price_submit_element.setAttribute("value", "" + price_list[search_index] * 100);
        AnimatePrice()
    }

    function PriceIncrease() {
        search_index = Math.min(price_list.length - 1, search_index + 1);
        price_submit_element.setAttribute("value", "" + price_list[search_index] * 100);
        AnimatePrice()
    }

    /* Functions */  

    function MakePriceList() {
        let price_list = [min_price];
        let j = 0;
        for (let i = 0; price_list[i] <= max_price; i++) {
            while(break_points[j][0] <= price_list[i]) { 
                j++; 
            }
            price_list.push(Math.floor(price_list[i]/break_points[j][1] + 1) * break_points[j][1]);
        }
        price_list[price_list.length - 1] = max_price;
        return price_list;
    }

    var search_display = 0;
    async function AnimatePrice() {
        while (search_display != price_list[search_index]) {
            search_display += Math.sign(price_list[search_index] - search_display);
            price_element.textContent = "$" + search_display;
            await new Promise(r => setTimeout(r, 10));
        }
    }

</script>

{% endblock %}