{% extends "registration/base.html" %}

{% block countdown %}
{% include 'registration/countdown_widget.html' %}
{% endblock %}

{% block content %}
<p>Choose your {{section}}!</p>
{% for category in categories %}
  <h3 class="title">{{category.name}}</h3>
  <!-- Starting slots For category {{category.name}}  -->
  {% for slot in category.slots %}
    <h4 class="title is-4">{{slot.name}}</h4>
    <div class="columns is-multiline">
      <!-- Starting products For category {{category.name}} slot {{slot.name}} -->
      {% for product in slot.products %}
        {% include 'registration/product_card.html' %}
      {% endfor %}
    </div>
  {% endfor %}
  
  <!-- Starting products For category {{category.name}}  -->
  <div class="columns is-multiline">
  {% for product in category.products %}
    {% include 'registration/product_card.html' %}
  {% endfor %}
  </div>
{% endfor %}

<form method="post">
  {% csrf_token %}

  <div class="control">
    <button type="submit" name='previous' class="button is-link">Previous</button>
    <button type="submit" name='next' class="button is-link">Next</button>
  </div>

</form>
{% load static %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="{% static 'scripts/ticket_selection.js' %}"></script>
{% endblock %}
