{% extends "registration/base.html" %}
{% load special_sauce %}
{% load static %}

{% block countdown %}
{% include 'registration/countdown_widget.html' %}
{%endblock %}

{% block card_content %}

<p class="title">Additional Contributions</p>

<form method="post">
    {% csrf_token %}

    <p>Cart Subtotal: <output id="id_subtotal">{{ subtotal }}</output></p>

    {% for field in form %}
    <div class="field">
        <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>

        <div class="field has-addons">
            <div class="control">
                <a class="button is-static">$</a>
            </div>
            <div class="control">
                {{ field|add_class:"input" }}
            </div>
        </div>
        {% include "utils/form_field_help.html" %}
    </div>
    {% endfor %}

    <div class="field">
        <p>Total: <output id="id_total"></output></p>
    </div>

    <div class="control">
        <button type="submit" name="previous" class="button is-link">
            Previous
        </button>
        <button type="submit" name="next" class="button is-link">Next</button>
    </div>
</form>

<script src="{% static 'scripts/donate-page-outputs.js' %}"></script>

{% endblock %}