{% extends "registration/base.html" %}

{% block countdown %}
<p id="session-expiry-timer"></p>
{% endblock %}

{% block card_content %}

<p class="title">
    Volunteer
</p>

<form method="post" novalidate>
    {% csrf_token %}

    {% include "utils/form_fields.html" %}

    <div class="control">
        <button type="submit" name='previous' class="button is-link">Previous</button>
        <button type="submit" name='next' class="button is-link">Next</button>
    </div>
</form>

{% endblock %}