{% extends "registration/base.html" %}
{% load static %}

{% block countdown %}
{% include 'registration/countdown_widget.html' %}
{% endblock %}

{% block card_content %}

<p class="title">
    Additional Contributions
</p>

<form method="post">
    {% csrf_token %}

    <p>Cart Subtotal: <output id="id_subtotal">{{ subtotal }}</output></p>

    {% include "utils/form_fields_donate.html" %}

    <p>Total: <output id="id_total"></output></p>

    <div class="control">
        <button type="submit" name='previous' class="button is-link">Previous</button>
        <button type="submit" name='next' class="button is-link">Next</button>
    </div>
</form>

<script src="{% static 'scripts/donate-page-outputs.js' %}"></script>
<script>
    window.onload = calculateOutputs()
</script>

{% endblock %}