
{% for category in selection_source.categories %}
  <h3 class="title">{{category.name}}</h3>

  <!-- Starting slots For category {{category.name}}  -->
  {% for slot in category.slots %}
    <h4 class="title is-4">{{slot.name}}</h4>
    <div class="">
      <!-- Starting products For category {{category.name}} slot {{slot.name}} -->
      {% for product in slot.products %}
        {% include 'registration/product_card.html' %}
      {% endfor %}
    </div>
  {% endfor %}
  
  <!-- Starting products For category {{category.name}}  -->
  <div class="">
  {% for product in category.products %}
    {% include 'registration/product_card.html' %}
  {% endfor %}
  </div>
{% endfor %}



