{% extends "registration/base.html" %}

{% block card_content %}

<p class="title">
    Policy
</p>


<form method="post" novalidate>
    {% csrf_token %}

    <p>Code of Conduct:</p>
    <p>Accountability Process:</p>
    <p>Terms:</p>

    {% include "registration/form_input.html" %}

    <div class="control">
        <button type="submit" name = 'previous' class="button is-link">Previous</button>
        <button type="submit" name = 'next' class="button is-link">Next</button>
    </div>
</form>

{% endblock %}