
{% for category in selection_source.categories %}
  <!-- Starting slots For category {{category.name}}  -->
  {% for slot in category.slots %}
    <h4 class="title is-5 mt-5 pt-2 mb-0 is-uppercase">{{slot.name}}</h4>
    <div class="">
      <!-- Starting products For category {{category.name}} slot {{slot.name}} -->
      {% for product in slot.products %}
        {% include 'registration/product_card.html' %}
      {% endfor %}
    </div>
  {% endfor %}
  
  <!-- Starting products For category {{category.name}}  -->
  <div class="">
  {% for product in category.products %}
    {% include 'registration/product_card.html' %}
  {% endfor %}
  </div>
{% endfor %}



