{% extends "registration/base.html" %}
{% load special_sauce %}

{% block countdown %}
{% include 'registration/countdown_widget.html' %}
{% endblock %}

{% block card_content %}
<h1>Event Selection and Pricing</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus temporibus numquam pariatur atque, aut saepe culpa quos reiciendis. Fuga perspiciatis ullam eos minus neque quam maiores quos rerum reprehenderit quaerat.</p>

<form method="post">
  {% csrf_token %}

  {% include "utils/form_fields.html" %}

  <p class="has-text-weight-bold sectionHead is-size-5">1. Let's get started! Select your dances:</p>

  {% include 'registration/register_selection.html' with selection_source=dance only %}

  <p class="has-text-weight-bold sectionHead is-size-5">2. Select your Workshops:</p>

  {% include 'registration/register_selection.html' with selection_source=class only %}

  <p class="has-text-weight-bold sectionHead is-size-5">3. Add on a Showcase:</p>

  {% include 'registration/register_selection.html' with selection_source=showcase only %}

  <p class="has-text-weight-bold sectionHead is-size-5">4. Grab some Swag:</p>

  {% include 'registration/register_selection.html' with selection_source=merch only %}

  <p class="title">Your order total is {{ view.order.original_price|dollars }}</p>

  <div class="buttons">
    {% if view.ap_available %}
    {% include "utils/button.html" with button=view.ap_yes_button content="AP Please" %}
    {% else %}
    {% include "utils/button.html" with button=view.ap_yes_button attrs="disabled" content="AP is Currently Unavailable 😢" %}
    {% endif %}
    {% include "utils/button.html" with button=view.ap_no_button content="Next"%}
  </div>
</form>


{% load static %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="{% static 'scripts/ticket_selection.js' %}"></script>
{% endblock %}

