{% extends "registration/base.html" %}

{% block card_content %}

<p class="title">
    T.H.E.N.A.
</p>
<p class="subtitle">
The Human Economic Negotiating Adjuster
</p>

<form method="post">
    {% csrf_token %}
    
    <div class="notification is-primary is-light has text-centered content">
        <p class="title is-5">Welcome to your accessible price finder!</>
        <ul>
            <li>Below is the proposed discounted price for your order.</li>
            <li>Please use the arrows to adjust to your personal comfort level.</li>
            <li>The least you may pay is $<span id="min_price"></span>.</li>
            <li>If you need to start over, just refresh the page.</li>
        </ul>
    </div>

    <div class="level is-mobile notification">
        <p class="has-text-left" onclick=PriceDecrease() style="cursor: pointer;">
            <i class="fa fa-caret-left fa-4x" style="color: #00C5C5;" aria-hidden="true"></i><br>
            Less<br>
            <strong>(Min <span id="search_min">$</span>)</strong>
        </p>

        <p id="test_price" class="is-size-3">$0</p>

        <p class="has-text-right" onclick=PriceIncrease() style="cursor: pointer;">
            <i class="fa fa-caret-right fa-4x" style="color: #00C5C5;" aria-hidden="true"></i><br>
            More<br>
            <strong>(Max <span id="search_max">$</span>)</strong>
        </p>
    </div>

    <input type="hidden" id="price_submit" name="price_submit" value="0">

    {% include "utils/button.html" with button=view.previous_button %}
    <button type="submit" class="button is-primary is-pulled-right" name="ready_to_pay" id="ready_to_pay" title="Find your price first!" disabled>I'm ready to pay!</button>
</form>

<script>
    "use strict";

    /* High level parameters */
    var step_size = 5;
    var max_price = {{ view.order.original_price }} / 100;
    var ap_eligible_amount = {{ view.order.ap_eligible_amount }} / 100;
    //var max_price = 102;
    //var ap_eligible_amount = 66;
    var min_price = max_price - ap_eligible_amount;

    /* Get DOM elements */
    var price_element = document.getElementById("test_price");
    var min_element = document.getElementById("search_min");
    var max_element = document.getElementById("search_max");
    var pay_element = document.getElementById("ready_to_pay");
    var price_submit_element = document.getElementById("price_submit");

    /* Initialize DOM elements */
    window.onload = function() {
        document.getElementById("min_price").textContent = min_price;

        SeekPrice(); // Shows initial middle value
        min_element.textContent = "$" + min_price;
        max_element.textContent = "$" + max_price;
    }

    /* Button callbacks */
    function PriceDecrease() {
        search_max = search_mid;
        SeekPrice(-1);
    }

    function PriceIncrease() {
        search_min = search_mid;
        SeekPrice(1);
    }

    /* Search algorithm setup and helper functions */
    var price_list = make_price_list();
    var search_min = 0;
    var search_max = price_list.length - 1;
    var search_mid = null;
    var price_found = false;
    
    function round_step(num, round_method=Math.round) {
        return round_method(num / step_size) * step_size;
    }

    function make_price_list() {
        if (ap_eligible_amount == 0) {
            SetPriceFound();
            return [max_price];
        }

        let nested_price_beg = round_step(min_price + step_size, Math.floor);
        let nested_price_end = round_step(max_price - step_size, Math.ceil);
        let nested_price_len = (nested_price_end - nested_price_beg) / step_size + 1;
        let nested_price_list = [...Array(nested_price_len).keys()].map(index => nested_price_beg + index * step_size);
        return [].concat([min_price], nested_price_list, [max_price]);
    }
    
    function SeekPrice(step_sign) {
        if (!price_found) {
            let next_mid = Math.floor((search_min + search_max) / 2);
            if (next_mid == search_mid) { // upper stop condition, mid can no go higher due to floor function
                search_mid += step_sign; // force a single step since we haven't incremented
                SetPriceFound();
            } else {
                search_mid = next_mid; // next_mid is not-zero, so set it
                if (search_mid == search_min) { // lower stop condition, search has reached minimum
                    SetPriceFound();
                }
            }
            if(price_found) { // if price is has now been found, reset min/max search range for display
                search_min = 0;
                search_max = price_list.length - 1;
            }
        } else { // once price is found, make single steps only
            search_mid += step_sign;
            search_mid = Math.min(search_mid, price_list.length - 1);
            search_mid = Math.max(search_mid, 0);
        }
        min_element.textContent = "$" + price_list[search_min];
        max_element.textContent = "$" + price_list[search_max];
        price_submit_element.setAttribute("value", "" + price_list[search_mid] * 100);
        AnimatePrice();
    }

    function SetPriceFound() { // call once when price is found
        price_found = true;
        pay_element.removeAttribute("disabled");
        pay_element.setAttribute("title", "You can continue to fine tune your price.");
    }

    var display_mid = 0;
    async function AnimatePrice() {
        while(display_mid != price_list[search_mid]) {
            display_mid += Math.sign(price_list[search_mid] - display_mid);
            price_element.textContent = "$" + display_mid;
            await new Promise(r => setTimeout(r, 10));
        }
    }

</script>

{% endblock %}