{% extends "registration/base.html" %}
{% load special_sauce %}

{% block countdown %}
{% include 'registration/countdown_widget.html' %}
{% endblock %}

{% block card_content %}
<h1 class="title">Event Selection and Pricing</h1>

<p>Dances, Classes, and more! On this page, you may choose ala carte what you'd like to attend
  during the weekend. If you have any questions, feel free to contact us.</p>

<form method="post">
  {% csrf_token %}

  <h2 class="has-text-weight-bold sectionHead is-size-5 mt-6">1. Let's get started! Select your dances:</h2>

  {% include 'registration/register_selection.html' with selection_source=dance only %}

  <hr class="heavy-rule">

  <h2 class="has-text-weight-bold sectionHead is-size-5 mt-5">2. Select your Workshops:</h2>

  {% include 'registration/register_selection.html' with selection_source=class only %}

  <hr class="heavy-rule">

  <h2 class="has-text-weight-bold sectionHead is-size-6 mt-5">4. Grab some Swag:</h2>

  {% include 'registration/register_selection.html' with selection_source=merch only %}

  <div class="is-clearfix is-size-4 mt-6 mb-5">
    <div class="subtotal-box my-5 py-2 px-5 is-pulled-right">
      <label class="has-text-weight-bold">SUBTOTAL</label>
      <span id="subtotal">{{ view.order.original_price|dollars }}</span>
    </div>
  </div>

  <div class="choose-ap-box py-3 px-3">
    <h2 class="has-text-weight-bold is-size-5 ">Looking great!</h2>
    <p>Will you be needing any Affordable Pricing (AP) adjustments?</p>
    <p>If not, please select the Next button.</p>

    <div class="buttons is-right mr-1">
      <button type="button" onclick="window.location.href='{% url view.claim_ap_url %}';" 
       id="claim-ap" class="button is-primary mr-4" data-ap-data='{{view.ap_data}}'/>
    </div>

    <p class="is-size-7">
      <strong>About AP:</strong>
      This means that if you have financial need and would not be able to pay the above price, you may apply for a discount. 
      Payment plan options will be available later in registration whether or not you apply for Accessible Pricing. 
      Accessible Pricing is only for adjusting your order total.
    </p>
  </div>
  
  <div class="control mt-5">
    <a href={% url view.previous_url %} class="button">Previous</a>
    <a href={% url view.next_url %} class="button is-primary is-pulled-right">Next</a>
  </div>

</form>


{% load static %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% include "scripts/ajax_urls.js.html" %}
<script src="{% static 'scripts/helpers.js' %}"></script>
<script src="{% static 'scripts/ticket_selection.js' %}"></script>
{% endblock %}
