{% extends "registration/base.html" %}
{% load special_sauce %}
{% load static %}

{% block countdown %}
{% include 'registration/countdown_widget.html' %}
{%endblock %}

{% block card_content %}

<h1 class="title">Additional Contribution</h1>
<p>If you can afford it, we encourage you to add an additional contribution.
This contribution will be used at the discretion of the organizing team.
Possible uses include: rainy day funds for the long-term viability of the event,
extra bells and whistles to make the event awesomer, and increased availability
of accessible pricing for low-income/low-wealth folks.</p>
<br>

<form method="post">
    {% csrf_token %}

    <div class="field">
        <p>Cart Subtotal: <output id="id_subtotal">{{ view.order.original_price|dollars }}</output></p>
    </div>

    <div class="field">
        <div class="control">
            <input class="input" id="donation_input" maxlength="10" value="{{ view.existing_donation|dollars }}"></input>
        </div>
        {% include "utils/form_field_help.html" with field=form.donation %}
    </div>

    <div class="field">
        <p>Total: <output id="id_total"></output></p>
    </div>

    {{ form.donation }} <!-- hidden donation field -->

    <a class="button" href="{% url view.previous_url %}">Previous</a>
    <button type="submit" name="next" class="button is-primary is-pulled-right">Next</button>

</form>

<script src="{% static 'scripts/donate-page-outputs.js' %}"></script>

{% endblock %}
