@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors

// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables

// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $background: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables

// $body-background-color: $pink;
// $scheme-main: $pink;
// $navbar-background-color: $beige-light;
// $body-background-color: $pink;

// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;


// TODO: only import modules that are  used
@import "../../../node_modules/bulma/bulma.sass";


// Sticky Footer
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}



// Used for the heavy client-side logic on the product selection screens
.product-card {
    &[class*="conflict-"] {
        background: grey;

        input {
            pointer-events: none;
        }
    }

    &.loading {
        .loader {
            display: block;
        }
        .product-checkbox {
            display: none;
        }
    }

    .loader {
        display: none;
    }

    .call-in-progress {
        pointer-events: none;
    }

    &.minimum {
        .product-decrement {
            display: none;
        }
    }

    &.maximum {
        .product-increment {
            display: none;
        }
    }
}

