@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$hifi-lettering: #F7F3EB; 
$light-teal: #00FFFF;
$hifi-dark-teal: #00C5C5;
$hifi-dark: #211827;

// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables

// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $light-teal;
// $link: $pink;
// $background: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables

// $body-background-color: $pink;
// $scheme-main: $pink;
// $navbar-background-color: $beige-light;
// $body-background-color: $pink;

// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

$scheme-invert: black;
$box-shadow: 0.3em 0.3em 0.3em 0.002em rgba($scheme-invert, 0.25), 0 0px 0 1.2px rgba($scheme-invert, 0.2);
$box-padding: .75rem;
$box-color: rgb(19, 20, 20);

// TODO: only import modules that are  used
@import "../../bulma/bulma.sass";


// Sticky Footer
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.hifi-img {
    background-image: url("../assets/background.png");


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Used for the heavy client-side logic on the product selection screens
.product-card {

    transition: box-shadow 0.1s;
    cursor: pointer;
    &:hover {
        box-shadow: 0.3em 0.3em 0.3em 0.002em rgba($hifi-dark-teal, 0.25), 0 0px 0 1.2px rgba($hifi-dark-teal, 0.2);
    }

    &[class*="conflict-"] {
        cursor: default;
        background: lightgrey;
        pointer-events: none;

        input, button {
            pointer-events: none;
        }

        details {
            pointer-events: auto;
        }

        .error:after {
            content: "This conflicts with something you've selected or purchased.";
            color: red;
        }

        &:hover {
            box-shadow: $box-shadow
        }
    }

    &.unavailable {
        cursor: default;
        background: lightgrey;
        pointer-events: none;

        input, button {
            pointer-events: none;
        }

        details {
            pointer-events: auto;
        }

        .error:after {
            content: "This item is out of stock.";
            color: red;
        }

        &:hover {
            box-shadow: $box-shadow
        }
    }

    &.max-purchased {
        cursor: default;
        background: #B0C4DE;
        pointer-events: none;

        input, button {
            pointer-events: none;
        }

        details {
            pointer-events: auto;
        }

        .error:after {
            content: "You have already purchased the maximum amount.";
        }

        &:hover {
            box-shadow: $box-shadow
        }
    }

    &.claimed {
        background: $hifi-dark-teal;
    }

    .quantity-selector {
        * {
            display: inline-flex;
        }
    }

    .loader {
        display: none;
    }

    &.loading {
        .loader {
            display: inline-flex;
        }
        .product-checkbox {
            display: none;
        }
    }

    &.call-in-progress {
        pointer-events: none;
    }

    .comped {
        text-decoration: line-through;
    }
}

.hidden-div {
    display: none;
}

input[type="checkbox"].big-checkbox {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border:1px solid #555;
    vertical-align: text-top;
}

input[type='checkbox'].big-checkbox:checked {
    background: rgb(166, 169, 177);
}

input[type='checkbox'].big-checkbox:checked:after {
    content: "✓";
    font-size: 15px;
    padding-left: 4px;
    font-family: 'Zapf Dingbats';
    vertical-align: middle;
}

.sectionHead {
    color: black;
}

.comp-box {
    margin: 1.5rem 0;
    box-shadow: 0.2em 0.2em 0.3em 0.002em rgba($scheme-invert, 0.25);
    background-color: rgb(240, 240, 240);
}

.comp-box .field {
    align-items: center;
}

/* using :first-child here to match specificity of a Bulma rule we want to override */
.comp-box label:first-child {
    margin: 0 15px 0 0;
    font-weight: normal;
}

.comp-box .control {
    width: 300px;
}

hr.heavy-rule {
    height: 15px;
    background-color: black;
    border-radius: 7.5px;
}

.choose-ap-box {
    background-color: $hifi-lettering;
    border-radius: 7px;
}

.choose-ap-box button {
    box-shadow: 0.2em 0.2em 0.3em 0.002em rgba($scheme-invert, 0.25);
}

.subtotal-box {
    border-top: 1px solid gray;
}

.subtotal-box label {
    margin-right: 70px;
}

input .call-in-progress {
    pointer-events: none;
}

.quantity-selector {
    .loader {
        display: none;
    }
    &.loading {
        .loader {
            display: inline-flex;
        }
    }
}