{% extends "registration/base.html" %}
{% load special_sauce %}

{% block card_content %}

<p class="title">
    {{ title }}
</p>

<form method="post">
    {% csrf_token %}

    {% include "registration/form_input.html" %}

    <div class="field is-grouped">
        {% for button in buttons %}
        <div class="control">
            {% if button|is_submit %}
            <button type="submit" name="{{ button.name }}" class="button is-link">{{button.text}}</button>
            {% elif button|is_link %}
            <a href="{% url button.link %}" class="button is-link">{{ button.text }}</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>

</form>

{% endblock %}
