container_commands:
  settings:
    command: wget "${SETTINGS_SECRET_URL}" -O hifireg/settings/secret.py
  collectstatic:
    command: source ${PYTHONPATH}/activate && ./manage.py collectstatic --noinput


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: hifireg.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
